/* Import Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --primary-color:#ff8882;
    --black-color:#0e2431;
    --white-color:#fff;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 12px;
    transition: all .3s ease;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--primary-color);
}
/* Common Style Start  */
section{
    padding-top: 40px;
}
section .content{
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}
section .title{
    text-align: center;
    margin-bottom: 40px;
    color: var(--black-color);
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}
section .title::after,
section .title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 10%;
    background: var(--primary-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
section .title::after{
    bottom: -8px;
    width: 7%;
    left: 50%;
    transform: translateX(-50%);
}
section .topic{
    color: var(--black-color);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
section .button{
    margin: 16px 0;
}
section .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all .4s ease;
}
section .button button:hover{
    border-color: var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
}
/* Common Style End  */

/* Navigation Menu Style Start */
nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 99;
    transition: all .3 ease;
}
nav.sticky{
    background: var(--primary-color);
    padding: 13px 0;
}
nav .navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav .navbar .logo a{
    font-weight: 500;
    font-size: 35px;
    color: var(--primary-color);
}
nav.sticky .navbar .logo a{
    color: var(--white-color);
}
nav .navbar .menu{
    display: flex;
    position: relative;
}
nav .navbar .menu li{
    list-style: none;
    margin: 0 8px;
}
nav .navbar .menu a{
    font-size: 18px;
    font-weight: 500;
    color: var(--black-color);
    padding: 6px 0;
    transition: all .4 ease;
}
.navbar .menu a:hover{
    color: var(--primary-color);
}
nav.sticky .menu a{
    color: var(--white-color);
}
nav.sticky .menu a:hover{
    color: var(--black-color);
}
.navbar .media-icons a{
    color: var(--primary-color);
    font-size: 18px;
    margin: 0 6px;
}
nav.sticky .media-icons a{
    color: var(--white-color);
}
/* Side Navigation Menu Button  */
nav .menu-btn,
.navbar .menu .cancel-btn{
    position: absolute;
    color: var(--white-color);
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease;
    display: none;
}
nav .menu-btn{
    color: var(--primary-color);
}
van.sticky .menu-btn{
    color: var(--white-color);
}
/* Navigation Menu Style End */

/* Banner Section Style Start  */
.home{
    width: 100%;
    height: 100vh;
    background-image: url(../images/portfolio-man.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.home .home-content{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .text-one{
    font-size: 25px;
    color: var(--black-color);
}
.home .text-two{
    color: var(--black-color);
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .text-three{
    font-size: 40px;
    margin: 5px 0;
    color: var(--primary-color);
}
.home .text-four{
    font-size: 23px;
    margin: 5px 0;
    color: var(--black-color);
}
.home .button{
    margin: 14px 0;
}
.home .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 6px ;
    font-size: 25px;
    font-weight: 400;
    background: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .4s ease;
}
.home .button button:hover{
    border-color: var(--primary-color);
    background: var(--white-color);
    color: var(--primary-color);
}
/* Banner Section Style End  */

/* About Section Style Start  */
.about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .about-details .left{
    width: 45%;
}
.about-details .about-details .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}
.about .about-details .right{
    width: 55%;
    font-weight: 600;
}
.about .about-details .right p{
    text-align: justify;
    color: var(--black-color);
    line-height: 1.5;
}
/* About Section Style End  */

/* Skills Section Style Start  */
.skills{
    background-color: #f0f8ff;
}
.skills .content{
    padding: 40px 0;
}
.skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-details .text{
    width: 50%;
    font-weight: 600;
}
.skills-details p{
    color: var(--black-color);
    text-align: justify;
    line-height: 1.5;
}
.skills-details .experience{
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.skills-details .experience .num{
    color: var(--black-color);
    font-size: 80px;
}
.skills-details .experience .exp{
    color: var(--black-color);
    font-size: 19px;
    font-weight: 500;
    margin: 0 6px;
}
.skills-details .boxes{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-details .boxes .box{
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}
.skills-details .box .topic{
    font-size: 20px;
    color: var(--primary-color);
}
.skills-details .box .per{
    font-size: 60px;
    color: var(--primary-color);
}
/* Skills Section Style End  */

/* Services Section Style Start  */
.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services .boxes .box{
    margin: 20px 10px;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
    cursor: default;
    transition: all .4s ease;
}
.services .boxes .box:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    margin: 0 auto 10px auto;
    transition: all .4s ease;
}
.boxes .box:hover .icon{
    background-color: var(--white-color);
    color: var(--primary-color);
}
.services .boxes .box:hover .topic{
    color: var(--white-color);
}
/* Services Section Style End  */

/* Contact Section Style Start  */
.contact{
    background-color: #f0f8ff;
}
.contact .content{
    margin: 0 auto;
    padding: 30px 0;
}
.contact .content .text{
    width: 80%;
    text-align: center;
    margin: auto;
}
/* Contact Section Style End  */

/* Footer Section Style Start  */
footer{
    background-color: var(--primary-color);
    padding: 15px 0;
    text-align: center;
    font-family: 'poppins',sans-serif;
}
footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: var(--white-color);
    word-spacing: 5px;
    letter-spacing: 2px;
}
footer .text span a{
    color: inherit;
    font-weight: 500;
    text-underline-offset: 5px;
}
footer .text span a:hover{
    text-decoration: underline;
}
/* Footer Section Style End  */

 /* goto Top Btn Style Start */
 .scroll-button{
     position: fixed;
     bottom: 20px;
     right: 20px;
     color: var(--white-color);
     background-color: var(--primary-color);
     padding: 10px 12px;
     font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.15);
    display: none;
 }
 /* goto Top Btn Style End */
 /* Responsive Media queries  */
 @media (max-width:1190px) {
     section .content{
         width: 80%;
     }
 }
 @media (max-width:1000px) {
     .about .about-details{
         flex-direction: column;
         justify-content: center;
     }
     .about .about-details .left{
         display: flex;
         justify-content: center;
         width: 100%;
     }
     .about .about-details .right{
        width: 90%;
        margin: 40px 0;
     }
     .services .boxes .box{
         margin: 20px 20px;
         width: calc(100% / 2 -20px);
     }
 }
 @media (max-width:900px) {
     .about .left img{
         height: 350px;
         width: 350px;
     }
 }
 @media (max-width:750px) {
     nav .navbar{
         width: 90%;
     }
     nav .navbar .menu{
         position: fixed;
         left: -100%;
         top: 0;
         background-color: var(--primary-color);
         height: 100vh;
         max-width: 400px;
         width: 100%;
         padding-top: 60px;
         flex-direction: column;
         align-items: center;
         transition: all .5s ease;
     }
     .navbar.active .menu{
         left: 0;
     }
     nav .navbar .menu a{
         font-size: 23px;
         display: block;
         color: var(--white-color);
         margin: 10px 0;
     }
     nav.sticky .menu a:hover{
         color: var(--primary-color);
     }
     nav .navbar .media-icons{
         display: none;
     }
     nav .menu-btn,
     .navbar .menu .cancel-btn{
         display: block;
     }
     nav.sticky .menu-btn{
         color: var(--white-color);
     }
     .home .text-two{
         font-size: 65px;
     }
     .home .text-three{
         font-size: 35px;
     }
     .skills .skills-details{
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }
     .skills-details .text{
         width: 100%;
         margin-bottom: 50px;
     }
     .skills-details .boxes{
         justify-content: center;
         align-items: center;
         width: 100%;
     }
     .skills-details .boxes .box{
         text-align: center;
     }
     .services .boxes .box{
         margin: 20px;
         width: 100%;
     }
     .contact .content .text{
         width: 100%;
     }
 }
 @media (max-width:500px) {
     .home .text-two{
         font-size: 55px;
     }
     .home .text-three{
         font-size: 33px;
     }
     .skills-details .boxes .per{
         font-size: 50px;
     }
     .about .about-details .right{
         width: 100%;
     }
     .about .about-details .right p{
         text-align: left;
     }
 }