*{margin:0;padding:0;box-sizing:border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
/* colors */
:root{
    --hero-bg:linear-gradient(45deg,var(--secondary) 65%,var(--primary) 35%);
    --secondary:#000000;
    --text-color:white;
    --nav-links:#000000;
    /* Theme1  */
    --theme1-primary:#FFED65;
    /* Theme2  */
    --theme2-primary:#576490;
    --theme2-primary:#8395D1;
    /* Theme3  */
    --theme3-primary:#5BC0EB;
}
/* Style According to Theme  ------------------------------------*/
/* Theme1  ===============*/
/* bg color */
.theme1 .hero-bg-part{
    background:var(--theme1-primary);
}
.theme1 nav .nav-link.active,.theme1 nav .nav-link:hover{
    background: var(--theme1-primary);
}
.theme1 .btn:hover{
    background: var(--theme1-primary);
}
.theme1 .profile-picture{
    background: var(--theme1-primary);
}
.theme1 .progress-bar span:first-child{
    background: var(--theme1-primary);
    box-shadow: -2px 0 10px 1px var(--theme1-primary);
}
.theme1 h1::after{
    background: var(--theme1-primary);
}
.theme1 .aboutme-section .aboutme-content{
    border: 10px double var(--theme1-primary);
}
.theme1 .aboutme-box span{
    background: var(--theme1-primary);
}
.theme1 .nav-light .navBtn.nav-open span{
    background: var(--theme1-primary);
}
.theme1 .preview-box{
    border-color: var(--theme1-primary);
}
.theme1 .preview-box iframe{
    border-color: var(--theme1-primary);
}
.theme1::-webkit-scrollbar-thumb{
    background: var(--theme1-primary);
}
/* color */
.theme1 h2 span{
    color: var(--theme1-primary);
}
/* Border color */
.theme1 nav{border-color: var(--theme1-primary);}
.theme1 footer{border-top: 1px solid var(--theme1-primary);}
/* Theme2  ===============*/
/* bg color */
.theme2 .hero-bg-part{
    background:var(--theme2-primary);
    
}
.theme2 .btn:hover{
    background: var(--theme2-primary);
}
.theme2 nav .nav-link.active,.theme2 nav .nav-link:hover{
    background: var(--theme2-primary);
}
.theme2 .profile-picture{
    background: var(--theme2-primary);
}
.theme2 .progress-bar span:first-child{
    background: var(--theme2-primary);
    box-shadow: -2px 0 10px 1px var(--theme2-primary);
}
.theme2 h1::after{
    background: var(--theme2-primary);
}
.theme2 .aboutme-section .aboutme-content{
    border: 10px double var(--theme2-primary);
}
.theme2 .aboutme-box span{
    background: var(--theme2-primary);
}
.theme2 .nav-light .navBtn.nav-open span{
    background: var(--theme2-primary);
}
.theme2 .preview-box{
    border-color: var(--theme2-primary);
}
.theme2 .preview-box iframe{
    border-color: var(--theme2-primary);
}
.theme2::-webkit-scrollbar-thumb{
    background: var(--theme2-primary);
}
/* color */
.theme2 h2 span{
    color: var(--theme2-primary);
}
/* Border color */
.theme2 nav{border-color: var(--theme2-primary);}
.theme2 footer{border-top: 1px solid var(--theme2-primary);}
/* Theme3  ===============*/
/* bg color */
.theme3 .hero-bg-part{
    background:var(--theme3-primary);
    
}
.theme3 .btn:hover{
    background: var(--theme3-primary);
}
.theme3 nav .nav-link.active,.theme3 nav .nav-link:hover{
    background: var(--theme3-primary);
}
.theme3 .profile-picture{
    background: var(--theme3-primary);
}
.theme3 .progress-bar span:first-child{
    background: var(--theme3-primary);
    box-shadow: -2px 0 10px 1px var(--theme3-primary);
}
.theme3 h1::after{
    background: var(--theme3-primary);
}
.theme3 .aboutme-section .aboutme-content{
    border: 10px double var(--theme3-primary);
}
.theme3 .aboutme-box span{
    background: var(--theme3-primary);
}
.theme3 .nav-light .navBtn.nav-open span{
    background: var(--theme3-primary);
}
.theme3 .preview-box{
    border-color: var(--theme3-primary);
}
.theme3 .preview-box iframe{
    border-color: var(--theme3-primary);
}
.theme3::-webkit-scrollbar-thumb{
    background: var(--theme3-primary);
}
/* color */
.theme3 h2 span{
    color: var(--theme3-primary);
}
/* Border color */
.theme3 nav{border-color: var(--theme3-primary);}
.theme3 footer{border-top: 1px solid var(--theme3-primary);}
/* Common Style  ------------------------------------*/
body{position: relative;overflow-x: hidden;}
h2{
    font-size: 80px;
    color: var(--text-color);
    margin-bottom: 10px;
}
h2 span{
    color: var(--primary);
    font-size: 90px;
}
h3{
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 10px;
}
h1{
    color: var(--text-color);
    font-size: 60px;
    text-align: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
}
h1::after{
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    margin-top: 10px;
    background: var(--theme3-primary);
}
.btn,.btn2{
    width: 100px;
    border-radius: 15px;
    padding: 9px 5px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
    transition: .3s;
    -webkit-transition:.3s ;
    -o-transition: .3s;
    -moz-transition: .3s;
    border: 2px solid var(--text-color);
    text-align: center;
}
.btn2{
    background: var(--secondary);
}
.btn:first-child{margin-left: 0;}
.btn:hover{
    transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform:scale(1.2) ;
    padding-top: 10px;
    font-weight: 900;
    border-radius: 3px;
    color: var(--secondary);
    border: none;
}
.btn-group{
    margin: 20px 0;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
}
.hide{
    display: none !important;
}
.preview-box{
    width: 80vw;
    height: 80vh;
    background: var(--secondary);
    border: 2px solid var(--theme2-primary);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
}
.preview-box iframe{
    width: 85%;
    height: 80%;
    border: 2px solid var(--theme2-primary);
}
.preview-box .btn-group{
    justify-content: flex-end;
    width: 100%;
    margin: 0px 30px 10px 0;
}
.previewBoxCloseBtn{
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
}
.previewBoxCloseBtn span{
    width: 95%;
    height: 3px;
    background: var(--text-color);
    display: block;
}
.previewBoxCloseBtn span:nth-child(1){
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform:rotate(45deg) ;
    -webkit-transform: rotate(45deg);
    transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    -moz-transform-origin:center ;
    -webkit-transform-origin:center ;
}
.previewBoxCloseBtn span:nth-child(2){
    transform: rotate(-45deg) translateX(1px) translateY(-2px);
    -o-transform: rotate(-45deg) translateX(1px) translateY(-2px);
    -ms-transform:rotate(-45deg) translateX(1px) translateY(-2px) ;
    -webkit-transform:rotate(-45deg) translateX(1px) translateY(-2px) ;
    transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    -moz-transform-origin:center ;
    -webkit-transform-origin:center ;
}
/* Hero Section Style  -----------------------------------------------------------*/
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    background: var(--secondary);
}
.hero-bg-part{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 52%);
}
/* NavBar Style  =======================*/
nav{
    width: 100%;
    height: 50px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    padding: 0 40px;
    border-bottom: 2px solid;
}
.nav-light{
    background: var(--secondary);
}
nav .logo{
    font-size: 30px;
    color: var(--text-color);
    text-decoration: none;
}
nav ul {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-left: 130px;
    list-style: none;
}
nav .nav-link{
    padding: 15px;
    text-decoration: none;
    color: var(--text-color);
    transition: .5s;
    -webkit-transition:.5s ;
    -o-transition:.5s ;
    -moz-transition:.5s ;
}
nav .nav-link:hover,nav .nav-link.active{
    background: var(--primary);
    color: var(--secondary);
}
.navBtn{
    width: 35px;
    height: 100%;
    border: none;
    display: none;
}
.navBtn span{
    width: 100%;
    background: #000;
    display: block;
    margin: 3px 0;
}
.nav-close span{
    background: var(--text-color);
    border: 1px solid var(--text-color);
    margin: 0;
}
.navBtn.nav-open span{
    border-radius: 10px;
    height: 3px !important;
}

.nav-close span:nth-child(1){
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform:rotate(45deg) ;
    -webkit-transform: rotate(45deg);
    transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    -moz-transform-origin:center ;
    -webkit-transform-origin:center ;
}
.nav-close span:nth-child(2){
    display: none;
}
.nav-close span:nth-child(3){
    transform: rotate(-45deg) translateX(1px) translateY(-2px);
    -o-transform: rotate(-45deg) translateX(1px) translateY(-2px);
    -ms-transform:rotate(-45deg) translateX(1px) translateY(-2px) ;
    -webkit-transform:rotate(-45deg) translateX(1px) translateY(-2px) ;
    transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    -moz-transform-origin:center ;
    -webkit-transform-origin:center ;
}
.nav-open-anim{
    animation: .5s nav-open-anim linear 1 forwards;
}
@keyframes nav-open-anim {
    from{left: -100%;}
    to{left: 0;}
}
.nav-close-anim{
    animation: .5s nav-close-anim linear 1 forwards;
}
@keyframes nav-close-anim {
    from{left: 0;}
    to{left: -100%;}
}
/* hero-content-box Style  ==========================*/
.hero-content-box{
    width: 100%;
    height: calc(100% - 130px);
    margin:20px auto 0 auto ;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-around;
}
.right{z-index: 1;}
/* Profile Picture  ============*/
.profile-picture{
    width: 500px;
    height: 500px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: 1s;
    -webkit-transition:1s ;
    -o-transition:1s ;
    -moz-transition:1s ;
    border-radius:53% 47% 52% 48% / 44% 66% 34% 56% ;
}
.profile-picture img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 3px solid var(--secondary);
}
.profile-picture:hover{
    border-radius: 50%;
}
/* skills Section Style  -----------------------------------------------------------*/
.section-skills{
    width: 100%;
    min-height: 800px;
    padding-top: 40px;
    background: var(--secondary);
}
.skills-boxes{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%;
    flex-wrap: wrap;
    /* margin: 100px 0; */
}
.section-skills h1{
    margin-bottom: 100px;
}
.section-skills .btn-group{
    margin-top: 100px;
}
.skills-boxes .skill-box{
    width: 50%;
    height: 100px;
    padding: 40px 100px;
}
.skill-box .progress-bar{
    width: 100%;
    height: 15px;
    border-radius: 20px;
    background: rgb(49, 49, 49);
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.progress-bar span:first-child{
    border-radius: 20px;
    height: 100%;
}
.progress-bar span:nth-child(2){
    transform: translateY(-40px) translateX(-30px);
    -o-transform: translateY(-40px) translateX(-30px);
    -ms-transform: translateY(-40px) translateX(-30px);
    -moz-transform:translateY(-40px) translateX(-30px) ;
    -webkit-transform: translateY(-40px) translateX(-30px);
    
    width: 30px;
    height: 30px;
    font-size: 12px;
    clip-path: polygon(0 0, 100% 0, 100% 62%, 51% 100%, 0 62%);
    background: var(--text-color);
    border-radius: 50%;
    color: var(--secondary);
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    padding:0 2px 2px 2px;
}
.htmlProgressBarLineAnim{
    animation: htmlProgressBarLineAnim 1.5s linear 1 forwards;
}
@keyframes htmlProgressBarLineAnim {
    0%{width: 0;}
    100%{width: 95%;}
}
.cssProgressBarLineAnim{
    animation: cssProgressBarLineAnim 1.5s linear 1 forwards;
}
@keyframes cssProgressBarLineAnim {
    0%{width: 0;}
    100%{width: 90%;}
}
.javaScriptProgressBarLineAnim{
    animation: javaScriptProgressBarLineAnim 1.5s linear 1 forwards;
}
@keyframes javaScriptProgressBarLineAnim {
    0%{width: 0;}
    100%{width: 70%;}
}
.javaProgressBarLineAnim{
    animation: javaProgressBarLineAnim 1.5s linear 1 forwards;
}
@keyframes javaProgressBarLineAnim {
    0%{width: 0;}
    100%{width: 65%;}
}
/* Portfolio Section Style  ---------------------------------------------------------*/
.section-portfolio{
    width: 100%;
    min-height: 800px;
    background: var(--secondary);
}
.portfolio-boxes{
    width: 100%;
    padding-bottom: 100px;
    /* margin: 100px 0; */
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    padding: 0 40px;
}
.section-portfolio h1{
    margin-bottom: 100px;
}
.section-portfolio .btn-group{
   transform: translateY(80px);
   -o-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -moz-transform:translateY(80px);
    -webkit-transform:translateY(80px) ;
  margin-bottom: 100px !important;
}
.portfolio-box{
    width: 25%;
    background: var(--theme2-primary);
    background: var(--text-color);
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 0 10px;
}
.portfolio-box:nth-child(even){
    transform: translateY(50px);
    -o-transform:translateY(50px) ;
    -ms-transform: translateY(50px);
    -moz-transform:translateY(50px) ;
    -webkit-transform:translateY(50px) ;
}
.portfolio-box h3{
    color: var(--secondary) !important;
    margin-top: 5px;
}
.portfolio-box img{
    width: 95%;
    margin-top: 10px;
    height: 200px;
    border: 2px solid #000;
}
/* Footer Style  ---------------------------------------------------------*/
footer{
    width: 100%;
    height: 40px;
    background: var(--secondary);
    border-top: 1px solid var(--theme1-primary);
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text-color);
}
footer .left p{
    font-size: 12px;
}
footer .right a{
    height: 25px;
    width: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--text-color);
    border-radius: 50%;
    padding: 3px;
}
footer .right img{
    height: 90%;
    width: 90%;
}
/*  */
/* About Me Page Style --------------------------------------- */
.aboutme-section{
    width: 100%;
    height: 95vh;
    background: var(--secondary);
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.aboutme-section .aboutme-content{
    width: 71%;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    border: 10px double var(--theme2-primary);
}
.aboutme-img{
    width: 35%;
    height: 400px;
    /* background: var(--theme2-primary); */
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    perspective: 100px;
}
.aboutme-box{
    padding: 30px;
    width: 65%;
}
.aboutme-box h6{
    color: var(--text-color);
    letter-spacing: 1px;
    font-weight: 500;
}
.aboutme-box span{
    width: 100%;
    height: 100px;
    align-self: flex-end;
    display: block;
    background: var(--theme1-primary);
    clip-path: polygon(54% 55%, 78% 71%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 28% 71%);
}
.aboutme-box p{
    color: var(--text-color);
    line-height: 2;
}
.aboutme-img img{
    width: 95%;
    height: 99%;
    transform: skew(-5deg) translateX(-10px);
    -o-transform: skew(-5deg) translateX(-10px);
    -ms-transform:skew(-5deg) translateX(-10px);
    -moz-transform: skew(-5deg) translateX(-10px);
    -webkit-transform:skew(-5deg) translateX(-10px) ;
}
/*  */
/* Skills Page Style  -------------------------------------------*/
.skills-page{
    min-height: 120vh;
    padding-top: 0;
}
.skills-page nav{
    margin-bottom: 70px;
}
.skills-page .skills-boxes{
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 100px;
}
.skills-page .skill-category{
    width: 100%;
    font-size: 30px;
    margin:  60px 60px 0 60px;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgb(128, 128, 128);
    border-bottom: 1px solid rgb(128, 128, 128);
}
/* portfolio-page style -------------------------------------------- */
.portfolio-page{
    min-height: 120vh;
}
.portfolio-page .portfolio-boxes{
    margin: 100px 0;
}
.portfolio-page h1{
    padding-top: 80px;
}
/* Scrollbar Style  -------------------------------------*/
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background: var(--secondary);

}
::-webkit-scrollbar-thumb{
    border-left: 1px solid #000;
    border-radius: 10px;
}
